<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ed-Vise{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to Ed-Vise</h1>
        <nav>
            <ul>
                <h2>Sign in with Google: </h2>
                <li><a href="{% url 'scheduling:events' %}">Google Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Ed-Vise. All rights reserved.</p>
    </footer>
</body>
</html>
